ion-toolbar {
  --background: transparent;
}
ion-title {
  color: var(--neutral-light-light);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

ion-icon {
  color: var(--neutral-light-light);
}
