<ion-content [fullscreen]="true">
  <app-header [title]="'Treinos'"></app-header>
  <div class="container">
    <div class="action">
      <p>Início Rápido</p>
      <ion-button expand="block">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Iniciar treinamento vazio</ion-button
      >
    </div>
    <div class="action">
      <p>Rotinas</p>
      <ion-button expand="block">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Nova Rotina</ion-button
      >
    </div>
    <div class="routines">
      <app-workout-routine [items]="items"></app-workout-routine>
      <app-workout-routine [items]="items"></app-workout-routine>
      <app-workout-routine [items]="items"></app-workout-routine>
    </div>
  </div>
</ion-content>
