<ion-content>
  <app-header
    [title]="'Cadastro'"
    leftControl="icon"
    leftText="chevron-back-outline"
    (onLeftControlClick)="goBack()"
  ></app-header>
  <div class="container ion-padding">
    <div class="header">
      <h1>Esqueceu a senha</h1>
    </div>
    <form [formGroup]="resetPasswordForm">
      <div>
        <div>
          <ion-label>
            <label>Endereço de email</label>
          </ion-label>
          <ion-item>
            <ion-input
              placeholder="email@exemplo.com"
              type="email"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="this.resetPasswordForm.controls?.['email'].touched && this.resetPasswordForm.controls?.['email'].invalid"
            class="error"
          >
            <ion-text *ngIf="errorControl.email.errors?.pattern"
              >Email inválido.</ion-text
            >
          </div>
        </div>
        <div>
          <p class="description">
            Digite seu email, e caso exista uma conta, nós enviaremos um email
            para você com um link para recuperar sua senha
          </p>
        </div>
        <ion-button size="small" class="button" expand="block" (click)="reset()"
          >Enviar recuperação de senha</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
