<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workouts">
      <ion-icon aria-hidden="true" name="barbell"></ion-icon>
      <ion-label>Treinos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
