<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        <ion-avatar>
          <img src="assets/avatar.svg" alt="User profile image" />
        </ion-avatar>
        <div class="header-info">
          <h4>Setembro</h4>
          <div class="date">
            <ion-icon name="calendar-outline"></ion-icon>
            <p>21/09-2024 - 21/10/2024</p>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let item of items; let last = last">
      <div class="expanded-content">
        <h5 class="subtitle">{{ item.name }}</h5>
        <p class="description">{{ item.description }}</p>
        <div class="button-group">
          <div class="half-buttons">
            <ion-button [fill]="'outline'">Histórico</ion-button>
            <ion-button [fill]="'outline'">Ver treino</ion-button>
          </div>
          <ion-button expand="block">Iniciar Rotina</ion-button>
        </div>
        <div class="divider" *ngIf="!last"></div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
