<ion-accordion-group>
  <ion-accordion value="workout">
    <ion-item slot="header">
      <div class="accordion-header">
        <ion-avatar
          ><img src="assets/avatar.svg" alt="Workout image"
        /></ion-avatar>
        <div class="training-details">
          <ion-label>First Accordion</ion-label>
          <div class="date">
            <ion-icon icon="calendar-outline"></ion-icon>
            <p>21/09-2024 - 21/10/2024</p>
          </div>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">First Content</div>
  </ion-accordion>
</ion-accordion-group>
