mat-expansion-panel,
mat-expansion-panel-header {
  background: var(--neutral-dark-dark) !important;
  box-shadow: none;
  border-radius: 8px !important;
}

mat-expansion-panel {
  padding: 19px;

  mat-expansion-panel-header {
    height: auto !important;
  }
}

.header-info {
  color: var(--neutral-light-lightest);

  .date {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
  }

  h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

::ng-deep {
  mat-expansion-panel {
    .mat-expansion-panel-body,
    .mat-expansion-panel-header {
      padding: 0;
    }
  }
}

ion-avatar {
  width: 68px;
  height: 68px;
}

mat-panel-description {
  display: flex;
  gap: 16px;
}

.expanded-content {
  color: var(--neutral-light-lightest);
  margin-top: 18px;

  p,
  h5 {
    margin: 0;
  }

  .subtitle {
    font-size: 13px;
  }
  .description {
    font-size: 12px;
    font-weight: 300;
  }
}

.button-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 6px;

  ion-button {
    height: 36px;
    font-size: 12px;
    margin: 0;
    --border-radius: 6px;
    color: var(--neutral-light-lightest);
    font-family: "Nunito Sans";
    font-weight: 600;
  }
}
.half-buttons {
  display: flex;
  justify-content: space-between;
  gap: 6px;

  ion-button {
    flex: 1;
    --border-color: var(--neutral-light-light);
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--neutral-dark-medium);
  margin: 28px 0 16px;
}
