<div class="summary-container">
  <div class="user-data">
    <ion-avatar
      ><img src="assets/avatar.svg" alt="User profile image" />
    </ion-avatar>
    <div class="user-and-date">
      <p class="username">bermarques</p>
      <p class="date">Ontem</p>
    </div>
  </div>
  <div class="summary">
    <h5>Quadríceps</h5>
    <div class="summary-data">
      <div class="summary-block">
        <p>Tempo</p>
        <p>1h 10min</p>
      </div>
      <div class="summary-block">
        <p>Volume</p>
        <p>4,567kg</p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="training-summary">
    <p class="title">Treino</p>
    <div class="exercise">
      <ion-avatar
        ><img src="assets/avatar.svg" alt="User profile image"
      /></ion-avatar>
      5 sets Cadeira Extensora Unilateral
    </div>
    <div class="exercise">
      <ion-avatar
        ><img src="assets/avatar.svg" alt="User profile image"
      /></ion-avatar>
      5 sets Cadeira Extensora Unilateral
    </div>
    <div class="exercise">
      <ion-avatar
        ><img src="assets/avatar.svg" alt="User profile image"
      /></ion-avatar>
      5 sets Cadeira Extensora Unilateral
    </div>
    <p class="see-more">veja mais 2 exercícios</p>
  </div>
  <div class="thick-divider"></div>
</div>
