<ion-content>
  <app-header
    [title]="'bermarques'"
    rightControl="icon"
    leftControl="text"
    rightText="settings-outline"
    leftText="Editar perfil"
    (onRightControlClick)="goToPage('/settings')"
  ></app-header>
  <div class="container">
    <div class="profile">
      <ion-avatar
        ><img src="assets/avatar.svg" alt="User profile image"
      /></ion-avatar>
      <div class="profile-info">
        <h3>bermarques</h3>
        <div class="group-container">
          <div class="group">
            <p class="group-title">Treinos</p>
            <p>72</p>
          </div>
          <div class="group">
            <p class="group-title">Seguidores</p>
            <p>0</p>
          </div>
          <div class="group">
            <p class="group-title">Seguindo</p>
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
    <p class="weekly-hours"><span class="hours">20 horas</span> essa semana</p>
  </div>
  <div
    echarts
    [options]="options"
    [merge]="mergeOptions"
    style="height: 300px"
    id="profile-chart"
  ></div>
  <div class="container">
    <div class="button-group">
      <ion-button
        expand="block"
        (click)="goToPage('statistics')"
        class="setting-button"
      >
        <ion-icon slot="start" icon="stats-chart-outline"></ion-icon>
        <span class="ion-text-left">Estatísticas</span>
      </ion-button>
      <ion-button
        expand="block"
        (click)="goToPage('measurements')"
        class="setting-button"
      >
        <ion-icon slot="start" icon="recording-outline"></ion-icon>
        <span class="ion-text-left">Medições</span>
      </ion-button>
      <ion-button
        expand="block"
        (click)="goToPage('calendar')"
        class="setting-button"
      >
        <ion-icon slot="start" icon="calendar-outline"></ion-icon>
        <span class="ion-text-left">Calendário</span>
      </ion-button>
    </div>
  </div>
</ion-content>
