.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 12px;
  justify-content: center;
}

.google {
  background: #ed3241;
}

.facebook {
  background: #006ffd;
}

.apple {
  background: #1f2024;
}

.icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

ion-icon {
  color: #fff;
  font-size: 12px;
}
