<ion-content class="ion-padding">
  <div>
    <ion-text>
      <h1>Bem-vindo!</h1>
    </ion-text>
    <form>
      <div>
        <ion-item>
          <ion-input
            placeholder="Email ou nome de usuário"
            class="input"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Senha" type="password" class="input">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <div class="forgotPassword">
          <a [routerLinkActive]="['/resetPassword']">Esqueceu a senha?</a>
        </div>
        <ion-button size="small" class="loginButton" expand="block"
          >Login</ion-button
        >
        <div>
          <p class="signupLink">
            Não tem cadastro?
            <a [routerLinkActive]="['/signup']">Cadastre-se</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</ion-content>
