h1 {
  font-weight: 800;
  font-size: 24px;
}

.input {
  font-size: 12px;
}

.loginButton {
  height: 36px;
  color: #fafafa;
  border-radius: 12px;
  font-weight: 600;
  margin: 16px 0;
}

ion-input {
  height: 48px;
}

ion-item {
  border: 1px solid #c5c6cc;
  border-radius: 12px;
  margin-bottom: 16px;
}

.forgotPassword {
  font-size: 12px;
}

.signupLink {
  font-size: 12px;
  margin: 16px 0;
}
